@import './variables';

.form-receta {
  display: none;

  .container {
    h1 {
      font-family: 'DINCondensed-Bold';
      font-size: 20px;
      letter-spacing: 0.140em;
      line-height: 35px;
      margin: 0;
      text-transform: uppercase;
    }
  
    h2 {
      font-family: 'DINCondensed-Bold';
      font-size: 18px;
      letter-spacing: 0.140em;
      line-height: 28px;
      margin: 0;
      text-transform: uppercase;
    }

    .input-field {
      font-family: 'Apercu Regular';
      font-size: 12px;
      letter-spacing: 0.100em;
      line-height: 15px;
      text-transform: uppercase;
  
      label {
        font-size: 12px;
      }
    }

    .personal-data {
      .email {
        position: relative;
  
        input {
          width: 95%;
        }
  
        .material-icons {
          position: absolute;
          right: 10px;
          top: 25px;
        }
  
        ul {
          li {
            small {
              padding-left: 10px;
            }
            span {
              font-size: 12px;
              padding: {
                bottom: 14px;
                left: 10px;
                right: 10px;
                top: 0px;
              }
  
              .highlight {
                font-size: 12px;
                padding: 0px;
              }
            }
          }
        }

        &.noRegistration {
          display: none;
        }
      }

      .birthdate {
        .select-wrapper {
          display: inline-block;
          width: 30%;

          .select-dropdown {
            &.error-select {
              border-bottom: 1px solid #F44336;
            }
          }
        }

        .datepicker {
          display: inline-block;
          width: 30%;
        }
      }
    }

    .section-one {
      // ¿Tienes alguna molestia en los ojos?
      .annoyance {
        text-transform: uppercase;

        h2 {
          margin-bottom: 20px;
        }
  
        label {
          display: block;
          margin-bottom: 10px;

          span {
            font-size: 12px;

            &::after {
              top: 2px;
            }
          }
        }
      }
  
      // ¿Utilizas lentes?
      .you-use {
        text-transform: uppercase;
  
        p {
          span {
            font-size: 12px;
          }
  
          label {
            span {
              padding-left: 25px;
            }
          }
        }
  
        .input-field {
          label {
            font-size: 12px;
          }
  
          &.contact-select {
            display: none;
  
            .select-wrapper {
              display: inline-block;
              width: 60px;
            }

            .error-contact-lenses-time {
              color: red;
              display: none;
              font-size: 10px;
              text-transform: uppercase;
            }

            label {
              left: 0;
            }
          }
  
          &.last-exam-select {
            .select-wrapper {
              display: inline-block;
              width: 200px;
            }

            .error-last-exam {
              color: red;
              display: none;
              font-size: 10px;
              text-transform: uppercase;
            }
          }
  
          &.treatment-input {
            display: none;
          }
        }
      }
    }

    .section-two {
      border-top: 2px dotted #000;
      padding-top: 50px;
  
      .monofocal-options {
        display: none;
        margin-top: 20px;
      }
  
      .tables {
        border-bottom: 1px dotted #000;
        padding-bottom: 30px;
  
        .title-wrapper {
          align-items: center;
          display: flex;
          justify-content: flex-start;
  
          h2 {
            margin: 20px 0px;
          }
        }
        
  
        table {
          font-family: 'Apercu Regular';
          font-size: 12px;
          letter-spacing: 0.100em;
          line-height: 15px;
          text-transform: uppercase;
  
          &.lensometria {
            display: none;
          }
  
          tr {
            td {
              input {
                height: auto;
                font-family: 'Apercu Regular';
                font-size: 12px;
                letter-spacing: 0.100em;
                line-height: 15px;
                margin: 0;
                max-width: 56px;
                text-align: center;
                width: 56px;
  
                &:focus {
                  box-shadow: none;
                }
              }
  
              .select-wrapper {
                display: inline-block;
                width: 45px;
  
                input {
                  text-align: left;
                }
              }

              .only-field-wrapper {
                margin-top: -28px;
              }
            }
          }
        }

        .height-container {
          display: none;
        }
      }
  
      .notas {
        margin-top: 20px;
      }
    }

    .btn-send {
      button {
        &.btn {
          background: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
        }
      }
    }

    @media #{$mobile-breakpoint} {
      .section-one {
        .molestia {
          h2 {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 250px;
          }
        }
  
        .utilizas {
          h2 {
            text-align: center;
          }
        }
      }
    }
  }
}

footer {
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;

  .footer {
    font-family: 'Apercu Regular';
    font-size: 10px;
    letter-spacing: 0.100em;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
  }
}