body, html {
  font-family: "Apercu Regular";
  margin: 0;
  padding: 0;
}

.form-receta {
  display: none;
}
.form-receta .container h1 {
  font-family: "DINCondensed-Bold";
  font-size: 20px;
  letter-spacing: 0.14em;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
}
.form-receta .container h2 {
  font-family: "DINCondensed-Bold";
  font-size: 18px;
  letter-spacing: 0.14em;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}
.form-receta .container .input-field {
  font-family: "Apercu Regular";
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 15px;
  text-transform: uppercase;
}
.form-receta .container .input-field label {
  font-size: 12px;
}
.form-receta .container .personal-data .email {
  position: relative;
}
.form-receta .container .personal-data .email input {
  width: 95%;
}
.form-receta .container .personal-data .email .material-icons {
  position: absolute;
  right: 10px;
  top: 25px;
}
.form-receta .container .personal-data .email ul li small {
  padding-left: 10px;
}
.form-receta .container .personal-data .email ul li span {
  font-size: 12px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
}
.form-receta .container .personal-data .email ul li span .highlight {
  font-size: 12px;
  padding: 0px;
}
.form-receta .container .personal-data .email.noRegistration {
  display: none;
}
.form-receta .container .personal-data .birthdate .select-wrapper {
  display: inline-block;
  width: 30%;
}
.form-receta .container .personal-data .birthdate .select-wrapper .select-dropdown.error-select {
  border-bottom: 1px solid #F44336;
}
.form-receta .container .personal-data .birthdate .datepicker {
  display: inline-block;
  width: 30%;
}
.form-receta .container .section-one .annoyance {
  text-transform: uppercase;
}
.form-receta .container .section-one .annoyance h2 {
  margin-bottom: 20px;
}
.form-receta .container .section-one .annoyance label {
  display: block;
  margin-bottom: 10px;
}
.form-receta .container .section-one .annoyance label span {
  font-size: 12px;
}
.form-receta .container .section-one .annoyance label span::after {
  top: 2px;
}
.form-receta .container .section-one .you-use {
  text-transform: uppercase;
}
.form-receta .container .section-one .you-use p span {
  font-size: 12px;
}
.form-receta .container .section-one .you-use p label span {
  padding-left: 25px;
}
.form-receta .container .section-one .you-use .input-field label {
  font-size: 12px;
}
.form-receta .container .section-one .you-use .input-field.contact-select {
  display: none;
}
.form-receta .container .section-one .you-use .input-field.contact-select .select-wrapper {
  display: inline-block;
  width: 60px;
}
.form-receta .container .section-one .you-use .input-field.contact-select .error-contact-lenses-time {
  color: red;
  display: none;
  font-size: 10px;
  text-transform: uppercase;
}
.form-receta .container .section-one .you-use .input-field.contact-select label {
  left: 0;
}
.form-receta .container .section-one .you-use .input-field.last-exam-select .select-wrapper {
  display: inline-block;
  width: 200px;
}
.form-receta .container .section-one .you-use .input-field.last-exam-select .error-last-exam {
  color: red;
  display: none;
  font-size: 10px;
  text-transform: uppercase;
}
.form-receta .container .section-one .you-use .input-field.treatment-input {
  display: none;
}
.form-receta .container .section-two {
  border-top: 2px dotted #000;
  padding-top: 50px;
}
.form-receta .container .section-two .monofocal-options {
  display: none;
  margin-top: 20px;
}
.form-receta .container .section-two .tables {
  border-bottom: 1px dotted #000;
  padding-bottom: 30px;
}
.form-receta .container .section-two .tables .title-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.form-receta .container .section-two .tables .title-wrapper h2 {
  margin: 20px 0px;
}
.form-receta .container .section-two .tables table {
  font-family: "Apercu Regular";
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 15px;
  text-transform: uppercase;
}
.form-receta .container .section-two .tables table.lensometria {
  display: none;
}
.form-receta .container .section-two .tables table tr td input {
  height: auto;
  font-family: "Apercu Regular";
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 15px;
  margin: 0;
  max-width: 56px;
  text-align: center;
  width: 56px;
}
.form-receta .container .section-two .tables table tr td input:focus {
  box-shadow: none;
}
.form-receta .container .section-two .tables table tr td .select-wrapper {
  display: inline-block;
  width: 45px;
}
.form-receta .container .section-two .tables table tr td .select-wrapper input {
  text-align: left;
}
.form-receta .container .section-two .tables table tr td .only-field-wrapper {
  margin-top: -28px;
}
.form-receta .container .section-two .tables .height-container {
  display: none;
}
.form-receta .container .section-two .notas {
  margin-top: 20px;
}
.form-receta .container .btn-send button.btn {
  background: black;
  color: white;
}
@media only screen and (max-width : 40em) {
  .form-receta .container .section-one .molestia h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
  }
  .form-receta .container .section-one .utilizas h2 {
    text-align: center;
  }
}

footer {
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
}
footer .footer {
  font-family: "Apercu Regular";
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

.patientwaiting {
  display: block;
}
.patientwaiting .container .collection {
  border: none;
}
.patientwaiting .container .collection li.collection-header {
  border: none;
  border-bottom: 2px solid;
}
.patientwaiting .container .collection li.collection-header h1 {
  font-family: "DINCondensed-Bold";
  font-size: 20px;
  letter-spacing: 0.14em;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
}
.patientwaiting .container .collection li.collection-item {
  transition: 0.25s;
}
.patientwaiting .container .collection li.collection-item .secondary-content, .patientwaiting .container .collection li.collection-item .material-icons {
  color: #000;
}
.patientwaiting .container .collection li.collection-item:hover {
  background-color: #ddd;
  cursor: pointer;
}
.patientwaiting .container .collection li.collection-item:hover .material-icons {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.selectTemploModal.modal .modal-content h1 {
  font-family: "DINCondensed-Bold";
  font-size: 20px;
  letter-spacing: 0.14em;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
}
.selectTemploModal.modal .modal-content .btn {
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 12px;
  height: auto;
  line-height: 15px;
  margin: 20px auto;
  padding: 10px;
  width: 180px;
}

.addCustomerModal.modal .modal-content h1 {
  font-family: "DINCondensed-Bold";
  font-size: 20px;
  letter-spacing: 0.14em;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
}
.addCustomerModal.modal .modal-content.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.addCustomerModal.modal .modal-content .error {
  color: red;
  text-align: center;
  text-transform: uppercase;
}
.addCustomerModal.modal .progress {
  background-color: #000;
  display: none;
  position: absolute;
  top: -8px;
}
.addCustomerModal.modal .progress .indeterminate {
  background-color: #626262;
}

.prescriptionModal.modal .modal-content h1 {
  font-family: "DINCondensed-Bold";
  font-size: 20px;
  letter-spacing: 0.14em;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
}
.prescriptionModal.modal .modal-content h2 {
  font-family: "DINCondensed-Bold";
  font-size: 16px;
  letter-spacing: 0.14em;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}
.prescriptionModal.modal .modal-content .section-two {
  border-top: 2px dotted #000;
  padding-top: 50px;
}
.prescriptionModal.modal .modal-content .section-two .monofocal-options {
  display: none;
  margin-top: 20px;
}
.prescriptionModal.modal .modal-content .section-two .tables {
  border-bottom: 1px dotted #000;
  padding-bottom: 30px;
}
.prescriptionModal.modal .modal-content .section-two .tables h2 {
  margin: 20px 0px;
}
.prescriptionModal.modal .modal-content .section-two .tables table {
  font-family: "Apercu Regular";
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 15px;
  text-transform: uppercase;
}
.prescriptionModal.modal .modal-content .section-two .tables table tr td .only-field-wrapper {
  margin-top: -28px;
}
.prescriptionModal.modal .modal-content .section-two .tables table tr td input {
  border: none;
  height: auto;
  font-family: "Apercu Regular";
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 15px;
  margin: 0;
  max-width: 56px;
  text-align: center;
  width: 56px;
}
.prescriptionModal.modal .modal-content .section-two .tables table tr td input:focus {
  border: none;
  box-shadow: none;
}
.prescriptionModal.modal .modal-content .btn-send .btn {
  background-color: #000;
}

.container .footer {
  font-family: "Apercu Regular";
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

/*# sourceMappingURL=prescription.css.map */
