body, html {
  font-family: 'Apercu Regular';
  margin: 0;
  padding: 0;
}

@import './form';
@import '../waiting-room';
@import './modal-temples';
@import './modal-add-customer';
@import './modal-prescription';
@import './footer';



