@import url("https://hello.myfonts.net/count/3928b6");
@font-face {
  font-family: "Moret-Extrabold";
  src: url("../fonts/3928B6_0_0.eot");
  src: url("../fonts/3928B6_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/3928B6_0_0.woff2") format("woff2"), url("../fonts/3928B6_0_0.woff") format("woff"), url("../fonts/3928B6_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "Apercu Regular";
  src: url("../fonts/apercu_regular-webfont.woff2") format("woff2"), url("../fonts/apercu_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "apercubold";
  src: url("../fonts/apercu-bold-webfont.woff2") format("woff2"), url("../fonts/apercu-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
body .container {
  background-attachment: fixed;
  background-image: url(../images/landing-chile-2@3x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
body .container img.img-mobile {
  display: none;
}
body .container .wrapper {
  bottom: 25px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}
body .container .wrapper .title {
  margin: 0 auto;
  max-width: 461px;
  text-align: center;
}
body .container .wrapper .title p {
  color: #fff;
  font-family: "apercubold";
  font-size: 16px;
  letter-spacing: 0.12em;
  line-height: 15px;
  margin: 0;
  text-transform: uppercase;
}
body .container .wrapper .title h2 {
  color: #fff;
  font-family: "Moret-Extrabold";
  font-size: 73px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
body .container .wrapper .email-container {
  margin-top: 50px;
  text-align: center;
}
body .container .wrapper .email-container .email-field {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}
body .container .wrapper .email-container .email-field p {
  color: #fff;
  font-family: "apercubold";
  font-size: 14.5px;
  letter-spacing: 0.12em;
  line-height: 15px;
  margin: 0 0 18px 0;
  text-transform: uppercase;
}
body .container .wrapper .email-container .email-field input {
  background-color: #fff;
  border: none;
  font-family: "Apercu Regular";
  font-style: italic;
  font-size: 22px;
  letter-spacing: 0.1em;
  line-height: 15px;
  margin-right: 15px;
  padding: 14px 0px;
  text-align: center;
  width: 445px;
}
body .container .wrapper .email-container .email-field input:focus::placeholder {
  color: transparent;
}
body .container .wrapper .email-container .email-field input:focus::-webkit-input-placeholder {
  color: transparent;
}
body .container .wrapper .email-container .email-field input:focus:-moz-placeholder {
  color: transparent;
}
body .container .wrapper .email-container .email-field input:focus::-moz-placeholder {
  color: transparent;
}
body .container .wrapper .email-container .email-field input:focus:-ms-input-placeholder {
  color: transparent;
}
body .container .wrapper .email-container .email-field .btn-send {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-family: "apercubold";
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 16.5px 0px;
  width: 119px;
}
body .container .wrapper .email-container .email-field .btn-send.invalid {
  background-color: gray;
  pointer-events: none;
}
body .container .wrapper .email-container .success-messages {
  display: none;
}
body .container .wrapper .email-container .success-messages p {
  color: #fff;
  font-family: "apercubold";
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 15px;
  margin: 0 0 18px 0;
  text-transform: uppercase;
}
body .container .wrapper .email-container .success-messages span {
  color: #fff;
  font-family: "apercubold";
  font-size: 14.5px;
  letter-spacing: 0.1em;
  line-height: 15px;
  margin: 0 0 18px 0;
  text-transform: uppercase;
}
body .container .wrapper .social-media {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 24px;
  justify-content: space-evenly;
  margin-top: 40px;
}
body .container .wrapper .social-media a {
  color: #fff;
}
@media only screen and (max-width : 60em) {
  body .container .wrapper {
    width: 90%;
  }
}
@media only screen and (max-width : 40em) {
  body .container {
    background-image: none;
    height: auto;
  }
  body .container img.img-mobile {
    display: block;
    width: 100%;
  }
  body .container .wrapper {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 298px;
    position: relative;
    transform: translate(0, 0);
    width: 100%;
  }
  body .container .wrapper .title {
    margin-top: 27px;
    max-width: 100%;
    width: 100%;
  }
  body .container .wrapper .title p {
    color: #000;
    font-size: 10px;
  }
  body .container .wrapper .title h2 {
    color: #000;
    font-size: 45px;
  }
  body .container .wrapper .email-container {
    margin-top: 30px;
  }
  body .container .wrapper .email-container .email-field p {
    color: #000;
    font-size: 13px;
  }
  body .container .wrapper .email-container .email-field input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #000;
    font-size: 16px;
    margin-right: 0;
    padding: 10px 0px;
    width: 286px;
  }
  body .container .wrapper .email-container .email-field .btn-send {
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 0px;
    width: 286px;
  }
  body .container .wrapper .email-container .success-messages p {
    color: #000;
    font-size: 14px;
  }
  body .container .wrapper .email-container .success-messages span {
    color: #000;
    font-size: 13px;
  }
  body .container .wrapper .social-media {
    color: #000;
    margin-top: 20px;
  }
  body .container .wrapper .social-media a {
    color: #000;
  }
}

/*# sourceMappingURL=index.css.map */
